/**
 * API Keys Configuration Template
 *
 * Copy this file to keys.js and add your own API keys.
 * NEVER commit keys.js to version control - it is in .gitignore.
 *
 * Required keys for the Nearmap Demo Gallery:
 *
 * - NEARMAP_KEY: Get from https://docs.nearmap.com/display/ND/Work+with+API+Keys
 * - MAPBOX_KEY: Get from https://account.mapbox.com (public token, pk.*)
 * - GOOGLE_KEY: Get from https://console.cloud.google.com (Maps JavaScript API)
 * - CESIUM_ION_TOKEN: Get from https://cesium.com/ion/ (for 3D Cesium examples)
 */
var NEARMAP_KEY = "YOUR_NEARMAP_API_KEY";
var MAPBOX_KEY = "pk.YOUR_MAPBOX_PUBLIC_TOKEN";
var GOOGLE_KEY = "AIzaSy...YOUR_GOOGLE_MAPS_API_KEY";
var CESIUM_ION_TOKEN = "eyJ...YOUR_CESIUM_ION_ACCESS_TOKEN";
